@use 'styles/variables.scss';

.container {
  > .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: variables.$font-size-medium;
  }

  > .title {
    font-size: variables.$header-font-size-medium;
    font-weight: bold;
  }

  > .article {
    font-size: variables.$font-size-medium;
  }
}
