.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .group > .news-button,
  .login-button {
    width: 150px;
    border-right: 1px solid #eee;
  }

  .group > .setting-button {
    width: 150px;
  }
}
