@use 'styles/variables.scss';
.contaier {
  align-items: center;
  padding: 10px 0 10px 20px;

  .name-link > .name {
    font-size: variables.$header-font-size-medium;
    font-weight: bold;
  }
}
